page-login {
    ion-content {
        background-image: url('../../assets/imgs/slide/home1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        ion-input {
            border-bottom: 1px solid #222222;
        }
    }
    ion-card {
        margin-top: 10% !important;
    }
}

#logo {
    width: 60% !important;
    margin: 0 auto !important;
}