page-login {
    ion-content {
        background-image: url('../../assets/imgs/slide/home1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        color: white !important;
        ion-input {
            border-bottom: 1px solid #fff;
            color: orange;

        }
        ion-input::placeholder{
            border: 1px solid gray !important;
            background-color: gray !important;
        }
        button {
            background: #fff !important;
            color: #000 !important;
            margin-top: 10px !important;
            width: 90% !important;
        }
    }
    ion-card {
        margin-top: 30% !important;
        border-radius: 10px !important;
    }
}

#logo {
    width: 100% !important;
    margin: 0 auto !important;
}