page-nosotros {
    ion-slide{
        img{
            width: 100% !important;
            height: 200px !important;
        }
    }
    ion-col{
        img{
            width: 100% !important;
            
        }
    }
}
// .toolbar-content {
//     display: flex !important;
//     flex-direction: row-reverse !important;
// }
