page-register {
    ion-content {
        background-image: url('../../assets/imgs/slide/home1.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: right;
        ion-input {
            border-bottom: 1px solid #222222;
            color: orange;
        }
        
        ion-label {
            color: white;
            font-weight: 600;
        }
        ion-list{
            background-color: rgba(250,255,255,0) !important;
        }
    }
    ion-card {
        margin-top: 10% !important;
    }
    #logo {
        width: 40% !important;
        margin: 0 auto !important;
    }
}
.cuidades{
    color: orange !important;
}
