page-detalle-pedidos {
    
}

#total {
    font-size: 1.3em;
    color: #c70039;
}

#card-estatus{
    border: 2px solid orange; box-shadow: -2px -2px 6px gray;
}

.text-white {
    color: white !important;
}
.bg-dark {
    background-color: black !important;
}