
#container {
    background-image: url('../../assets/imgs/bg-welcome.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
    position: relative;
}

#bg-welcome {
    background-color: rgba(0, 0, 0, 0.7);
    width: 100%;
    height: 100vh;
    position: absolute;
}

#titulo {
    height: 40%;
    margin-top: 20%;
    padding: 20px;
    h1{
        text-align: center;
        padding-top: 30%;
        text-transform: uppercase;
        font-weight: bolder;
        font-size: 2.5em;
        color: white;
    }
}

#botonera {
    height: 40%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 10px;
}

.btn-action{
    width: 90% !important;
    background: #fff !important;
    color: black !important;
}
