page-products {
    ion-grid {
        margin: 0 !important;
        padding: 0 !important;
    }
    ion-slides{
        width: 100%;
        height: 180px;
        margin: 0;
        padding: 0;
        ion-slide {
            background-color: white !important;
            width: 100% !important;
            img{
                width: 100% !important;
                
            }
        }
    }
}

.swiper-pagination-bullet-active {
    background-color: white !important;  
}

.slide{
    position: relative;
}

.action{
    position: absolute;
    top: 60%;
    left: 30%;
    color: white;
    z-index: 1000 !important;
}

#label-promo {
    color: #fff;
    text-align: center;
    background-color: #c70039;
    border-radius: 20px;
}

#label-pedido-esp {
    color: #c70039;
    font-weight: 700;
    text-transform: uppercase;
}

.col-cart {
    text-align: center;
    position: relative;
    img{
        margin-top: 50px !important;
    }
}

#title{
    font-family: Arial, Helvetica, sans-serif;
    color: whitesmoke;
    margin-left: 50px !important;
    font-size: 1.5em;
    text-transform: uppercase;
    font-weight: 500;
    margin-bottom: 10px !important;
}

.col {
    padding: 0 !important;
    margin: 0 !important;
    ion-card {
        margin: 10px 0px 0px 10px !important;
        padding: 0px !important;
        ion-card-content {
            padding: 2px;
            img {
                width: 100% !important;
            }
        }
    }
}

#icon-menu {
    padding: 5px !important;
}

#badge {
    position: absolute; 
    top: 0px; 
    right: -15px; 
    background-color: orange;
}

#col-title {
    text-align: center;
    line-height: 40px;
}

.btn-small {
    width: 80% !important;
}

#nameProduct{
    color: black;
    font-weight: 600;
    font-size: 1.2em;
    text-transform: uppercase;
}