<ion-header>
    <ion-grid>
        <ion-row style="background-color: rgb(0, 0, 0); padding-left: 4px !important;">
            <ion-col col-1 id="icon-menu">
                <a (click)="openModal()">
                    <img src="assets/imgs/menu-icon.svg">
                </a>
            </ion-col>
            <ion-col col-9 id="col-title">
                <span id="title">VeloServi App</span>
            </ion-col>
            <ion-col col-1 text-right id="col-cart" text-right>
                <img src="assets/imgs/commerce.svg" alt="" (click)="irCarrito()">
                <ion-badge item-end id="badge">{{ carrito.length }}</ion-badge>
            </ion-col>
        </ion-row>
    </ion-grid>


</ion-header>

<ion-content>

    <ion-grid>
        <ion-row>
            <ion-col col-12>
                <ion-slides pager>

                    <ion-slide class="slide">
                        <!-- <a ion-button round class="action">Agregar Promo</a> -->
                        <img src="assets/imgs/slides-product_page/promo1.jpg" alt="">
                    </ion-slide>

                    <ion-slide class="slide">
                        <!-- <a ion-button round class="action">Agregar Promo</a> -->
                        <img src="assets/imgs/slides-product_page/promo2.jpg" alt="">
                    </ion-slide>

                    <ion-slide class="slide">
                        <!-- <a ion-button round class="action">Agregar Promo</a> -->
                        <img src="assets/imgs/slides-product_page/promo3.jpg" alt="">
                    </ion-slide>

                </ion-slides>
            </ion-col>
        </ion-row>
        <br>

        <ion-row>
            <ion-col col-12>
                <p text-center id="label-pedido-esp">¿Ya tienes tu tienda favorita?</p>
            </ion-col>
            <ion-col col-12 text-center>
                <button ion-button round (click)="navigatePedidoEsp()">Realizar pedido Especial</button>
            </ion-col>
        </ion-row>

        <ion-row>
            <ion-col col-12 text-center>
                <strong>Filtrar por:</strong>
            </ion-col>
            <ion-col col-4 text-center>
                <button ion-button round small (click)="filtrar_asociado()" class="btn-small">Sucursal</button>
            </ion-col>
            <ion-col col-4 text-center>
                <button ion-button round small (click)="filtrar_categoria();" class="btn-small">Categoría</button>
            </ion-col>
            <ion-col col-4 text-center>
                <button ion-button round small (click)="filtrar_promociones();" class="btn-small">Promoción</button>
            </ion-col>
        </ion-row>
    </ion-grid>


    <ion-grid>
        <ion-row>
            <ion-col col-6 *ngFor="let item of productos">
                <ion-card>
                    <ion-card-content>
                        <img src="assets/imgs/products/{{ item.foto }}">
                        <p id="label-promo" *ngIf="promocion">% Descuento</p>
                        <div padding>
                            <strong>
                                <p text-center id="nameProduct"> {{ item.nombre }}</p>
                            </strong>
                            <p text-center><span style="color:#c70039; font-weight: 700;">$ {{ item.precio }}</span></p>
                            <span text-center>Categoría: {{ item.categoria }}</span><br>
                        </div>
                        <hr>
                        <div text-center>
                            <button ion-button block (click)="addCarrito(item);">
                                <ion-icon ios="ios-cart" md="md-cart"></ion-icon> &nbsp;
                                 Agregar
                            </button>
                        </div>
                    </ion-card-content>
                </ion-card>
            </ion-col>
        </ion-row>
    </ion-grid>

    <ion-infinite-scroll threshold="100px" (ionInfinite)="loadData($event)">
        <ion-infinite-scroll-content loadingSpinner="dots" loadingText="cargando productos..">
        </ion-infinite-scroll-content>
    </ion-infinite-scroll>
</ion-content>