page-carrito {
    span {
        font-size: .9em !important;
    }
    strong {
        font-size: .9em !important;
    }
}

#row-header {
    border-bottom: 1px solid #222222;
    border-top: 1px solid #222222;
    ion-col{
        text-align: center;
    }
}

#row-result {
    border-bottom: 1px solid #CFD8DC;
}

#input-cupon {
    background-color: #c8c7c7;
    border-radius: 10px;
    padding-left: 10px;
}

#input-cupon::placeholder {
    color:#000 !important;
}
