page-carrito {
    ion-content {
        position: relative;
        #botonera {
            position: absolute;
            bottom: 0;
            
            
        }
    }
    span {
        font-size: .9em !important;
    }
    strong {
        font-size: .9em !important;
    }
}

#row-header {
    border-bottom: 1px solid #222222;
    border-top: 1px solid #222222;
    ion-col{
        text-align: center;
    }
}

#row-result {
    
}

#input-cupon {
    background-color: #c8c7c7;
    border-radius: 10px;
    padding-left: 10px;
}

#input-cupon::placeholder {
    color:#000 !important;
}

.btn-footer {
    width: 95% !important;
}

#total {
    color: whitesmoke !important;
    font-size: 1.5em !important;
    text-transform: uppercase;
    font-weight: 500;
}

#col-result{
    background: #000;
}



#btn-footer {
    background: #000;
    width: 100%;
}