<ion-header>
  <ion-navbar color="primary">
    <ion-title text-left>Carrito </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

    <h2 text-center>Carrito de compras</h2>
    <p text-center>Productos agregados</p>

    <ion-grid *ngIf="data">
        <ion-row id="row-header">
            <ion-col col-3>
                <strong>Producto</strong>
            </ion-col>
            <ion-col col-2>
                <strong>Precio</strong>
            </ion-col>
            <ion-col col-2>
                <strong>Cantidad</strong>
            </ion-col>
            <ion-col col-2>
                <strong>Total</strong>
            </ion-col>
            <ion-col col-3>
                <strong>Operaciones</strong>
            </ion-col>
        </ion-row>
        <ion-row *ngFor="let item of data; let i = index" id="row-result">
            <ion-col col-3 text-center>
                <span>{{ item.producto.nombre }}</span>
            </ion-col>
            <ion-col col-2 text-center>
                <span>$ {{ item.producto.precio }}</span>
            </ion-col>
            <ion-col col-2 text-center>
                <span>{{ item.cantidad }}</span>
            </ion-col>
            <ion-col col-2 text-right>
                <span>$ {{ (item.producto.precio * item.cantidad).toFixed(2) }}</span>
            </ion-col>
            <ion-col col-3 text-right>
                <ion-buttons>
                    <button ion-button small color="primary" (click)="modificarCantidad(item.producto.id)">
                        <ion-icon ios="ios-create" md="md-create"></ion-icon>
                    </button>
                    <button ion-button small color="danger" (click)="eliminaritem(i)">
                         <ion-icon ios="ios-trash" md="md-trash"></ion-icon>
                    </button>
                </ion-buttons>
            </ion-col>
        </ion-row>

        <ion-row id="row-result" style="margin-top: 70px;">
            <ion-col col-12 text-center id="col-result">
                <p id="total">Total del pedido: $ {{ (total).toFixed(2) }}</p>
            </ion-col>
        </ion-row>

    </ion-grid>

   

    <div *ngIf="data.length <= 0" text-center>
        <img src="assets/imgs/online-shopping.svg" width="30%">
        <h3>Carrito vacio</h3>
        <p>favor de ir a la zona de productos y añadir productos al carrito para hacer tu Pedido.</p>
    </div>

    <div *ngIf="data.length > 0" id="botonera">
        <ion-grid padding>
            <ion-row style="padding-bottom: 30px;">
                <ion-col col-12>
                    <p>
                        Tu carrito esta correcto y ya no deseas hacer modificaciones a tu Pedido. Puedes proceder a terminar tu pedido, completando los datos de envío.
                    </p>
                </ion-col>
            </ion-row>
            <ion-row>
                <ion-col col-12 text-center>
                    <button ion-button round full (click)="checkout()">Finalizar Pedido</button>
                </ion-col>
                <ion-col col-12 text-center>
                    <button ion-button round full color="danger" (click)="vaciarCarrito()">
                        Vaciar carrito
                    </button>
                </ion-col>
                
            </ion-row>
        </ion-grid>
    </div>

</ion-content>

<ion-footer>
    
</ion-footer>

